*{
    margin:0;
}

body{
    font-size:14px;
    font-family:'Roboto Condensed', sans-serif;
    color:#212121;
}

h1{
    font-size:3.5em;
    font-weight:300;
}

h2{
    font-size:2.2em;
}

h3{
    font-size:1.9em;
}

p{
    font-size:1.1em;
}

header{
    width:100%;
    height:120px;
    position:fixed;
    background-color:#212121;
    color:#fff;
    display:flex;
    justify-content:center;
    border-bottom:2px solid #980401;
    transition:0.3s ease;
}

.header-background{
    width:100%;
    height:122px;
    top:0;
    background-color:#212121;
}

.header-wrapper{
    width:90%;
    height:100%;
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
}

.logo{
    height:80%;
    width:auto;
    align-self:center;
}

nav{
    width:30%;
    height:50px;
}
nav ul{
    height:inherit;
    display:flex;
    justify-content:flex-end;
    align-items:flex-end;
    list-style:none;
    font-size:1.2em;
}

nav ul li{
    height:inherit;
    width:150px;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:0 30px;
    font-family:Oswald, sans-serif;
    font-weight:300;
}

nav ul li:hover{
    background-color:#980401;
    cursor:pointer;
    transition:0.2s;
}

nav ul li a{
    text-decoration:none;
    color:inherit;   
}

.mobile-menu{
    height:30px;
    width:30px;
    padding:6px;
    display:none;
    position:absolute;
    right:22px;
    top:37px;
    border:1px solid transparent;
    transition: 0.2s;
}
.mobile-menu:hover{
    cursor:pointer;
}

.mobile-menu:hover .mobile-bar{
    background-color:#980401;
    transition:0.2s;
}

.mobile-bar{
    height:4px;
    width:100%;
    border-radius:2px;
    background-color:#fff;
}

.active{
    display:block;
}

.jumbotron{
    width:100%;
    height:80vh;
    background-image:url(./images/Homepage-Banner.jpg);
    background-size:cover;
    background-position:center;
}

.gigs{
    width:100%;
    min-height:400px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    padding:70px 0;
}

.gig-music-posts{
    width:100%;
    min-height:300px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.third-column{
    width:33%;
    height:100%;
    display:flex;
    justify-content:center;
}

.gig-post{
    background-color:#eee;
    min-height:200px;
    width:95%;
    border-radius:5px;
    text-align:center;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    border:5px solid #f6f6f6;
}

.gig-post h2{
    margin:0 0 8px 0;
    font-weight:300;
}

.gig-post p{
    margin:8px 0 8px 0;
}

.icon{
    color:#980401;
    font-size:1.8em;
    margin:8px 3px;
}

.icon:hover{
    color:#770100;
    transition:0.2s ease;
}

.btn{
    min-height:50px;
    min-width:150px;
    border-radius:5px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#980401;
    font-family:'Oswald', sans-serif;
    font-size:1.4em;
    font-weight:300;
    text-decoration:none;
    color:#fff;
}

.btn:hover{
    background-color:#770100;
    transition:0.2s ease;
}

.music{
    width:100%;
    min-height:450px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    background-color:#212121;
    color:#fff;
    padding:70px 0;
}

.music-post{
    width:90%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-family:'Oswald', sans-serif;
    font-weight:300;
}

.music-post h2{
    font-weight:inherit;
}

.music-post iframe{
    height:150px;
    width:100%;
    border:none;
    border-radius: 5px;
    margin:40px 0;
}

.music-post p{
    font-size:1.3em;
}

.contact{
    min-height:300px;
    display:flex;
    align-items: center;
    justify-content: center;;
    color:#fff;
    background-color: #980401;
}

.contact h3{
    width:35%;
    margin-right:30px;
}

.contact-details{
    width:35%;
    display:flex;
    flex-direction:column;
    margin-left:30px;
}

.contact-details .icon,a{
    color:#fff;
    font-size:1.5em;
    margin:5px 0;
    text-decoration:none;
}

.contact-details .icon{
    margin-right:30px;
}

@media screen and (max-width:1000px){
    .jumbotron{
        background-image:url(./images/Homepage-Banner-Mobile.jpg);
        background-size:cover;
        background-position:center;
    }
}

@media screen and (max-width:560px){
    .jumbotron{
        height:50vh;
    }
}

@media screen and (max-width:768px){
    .mobile-menu{
        display:flex;
        flex-direction:column;
        justify-content:space-between;
    }

    nav{
        position:absolute;
        left:0;
        top:122px;
        width:100%;
        height:200px;
        display:none;
    }

    nav ul{
        flex-direction:column;
        justify-content:center;
        align-items:center;
        background-color:#212121;
        padding:0;
    }
    
    nav ul li{
        width:100%;
        border-bottom:2px solid #980401;
    }

}